.SBOM-container {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--main-color);
    overflow-y: auto;
    justify-content: center;
    box-shadow: var(--box-shadow);
    width: 50vw;
}

.SBOM-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SBOM-top-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.vulncount {
    color: var(--text-color);
    font-weight: 600;
    color: red;
    text-shadow: var(--box-shadow);
}

.SBOM-top-row .top-row-child {
    width: 33%;
}

.drop-down-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    background-color: var(--main-color);
    width: 100%;
    padding: 1rem;
}


.cve-container {
    z-index: 0;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 3rem 1rem 1rem 1rem;
    margin-top: -2rem;
    word-wrap: break-word;
    overflow: auto;

}

.drop-down-header.show-content {
    border-radius: 0.5rem 0.5rem 0 0;
}

.settingsText {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--text-color);
    margin: 0.5rem 0rem 0.5rem 0rem;
    text-align: left;
    /* margin-left: 1rem; */
}


/* Searchbar */



.searchIconWrapper {
    margin-right: -5px;
    /* Added margin for spacing between icon and text */
    color: var(--text-color);
}

.inputWrapper {
    flex: 1;
    /* Added */
}

.inputWrapper input {
    width: calc(100% - 40px);
    /* Adjusted width to accommodate icon and margin */
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-color);
}



.json-tree-container {
    width: 100%
}

.cve-asset-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.cve-asset-item {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}

.cve-asset-item:hover {
    filter: invert(15%);
}