.drop-down-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    background-color: var(--main-color);
    width: 100%;
    padding: 1rem;
}


.settings-container {
    z-index: 0;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    background-color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 3rem 1rem 1rem 1rem;
    margin-top: -2rem;

}

.drop-down-header.show-content {
    border-radius: 0.5rem 0.5rem 0 0;
}

.settingsText {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--text-color);
    margin: 0.5rem 0rem 0.5rem 0rem;
    text-align: left;
    /* margin-left: 1rem; */
}

.json-tree-container {
    width: 100%
}