go 1.22.0

use (
	./Containers/AssetHandler
	./Containers/AssetHandler/dbcon
	./Containers/AssetHandler/jsonhandler
	./Containers/CycloneDX
	./Containers/CycloneDX/dbcon-cyclonedx
	./Containers/NetworkScan
	./Containers/NetworkScan/dbcon-networkscan
)
