.reoccurringkScan-container {
    color: var(--text-color)
}

.remove-ip-range-btn {
    white-space: nowrap;
    color: var(--text-color);
    /* background-color: transparent; */
    border: none;
    margin-left: 1rem;
}


.remove-ip-range-btn .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width value to align it center */

    /* Fade in tooltip - animations */
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.remove-ip-range-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.interval-text {
    max-width: 20vw;
    margin-top: 0.5rem;
    word-wrap: break-word;
    /* Old syntax, supported in older browsers */
    overflow-wrap: break-word;
    /* Standard syntax */
    text-align: left;
}