.history-content {
    padding: 1rem;
    justify-content: flex-start;
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--text-color);
    background-color: var(--main-color);
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
}

.history-content span {
    font-size: 14px;
    font-family: var(--jetbrains-mono);
}

.history-content h2 {
    font-weight: 500;
}

.history-content ul {
    font-family: var(--jetbrains-mono);
}