/* Red Dark Theme */
/* :root .dark {
    --main-color: #222222;
    --secondary-color: #2ecc71;
    --accent-color: #9b59b6;

    --text-color: #d9d7d7;
    --text-hover: #ff5454;

    --logo-color: #ff5454;

    --background-color: #1c1c1c;

    --button-color: #ff5454;
    --button-text: #000000;
    --button-text-hover: white;
    --button-hover: #ff5454;
    --button-active: #5c5c5c;
    --button-shadow: #0000007e;
} */

/* Blue Dark Theme */

:root {
    --error-color: rgb(255, 120, 120);
    --success-color: #2FDD92;
    --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);


}

:root .dark {
    --main-color: #222222;
    --secondary-color: #161616;
    --accent-color: #2a8af6;

    --text-color: #d9d7d7;
    --text-hover: #2a8af6;

    --logo-color: #2a8af6;

    --background-color: #1c1c1c;

    --button-color: #2a8af6;
    --button-text: #000000;
    --button-text-hover: white;
    --button-hover: #2a8af6;
    --button-active: #5c5c5c;
    --button-shadow: #0000007e;

    --hr-color-1: rgba(228, 228, 228, 0);
    --hr-color-2: rgba(42, 138, 246, 0.75);

    /* Graph View Colors */
    --graph-bg: rgb(21, 21, 21);
    --selected-node: #000000;

    /* CycloneDX json colors */
    --base-00: var(--main-color);
    --base-01: #383830;
    --base-02: #49483e;
    --base-03: #f96edd;
    --base-04: #a59f85;
    --base-05: #f8f8f2;
    --base-06: #f5f4f1;
    --base-07: #f9f8f5;
    --base-08: #f92672;
    --base-09: #fd971f;
    --base-0A: #f4bf75;
    --base-0B: var(--text-color);
    --base-0C: #a1efe4;
    --base-0D: #4f86fc;
    --base-0E: #ae81ff;
    --base-0F: #cc6633;
}

/* Blue Light Theme */
:root .light {
    --main-color: #FFF;
    --secondary-color: #d3d3d3;
    --accent-color: #4053fb;

    --text-color: #222222;
    --text-hover: #4053fb;

    --logo-color: #4053fb;

    --background-color: #bdbdbd;

    --button-color: #5364fe;
    --button-text: #000000;
    --button-text-hover: white;
    --button-hover: #4053fb;
    --button-active: #5c5c5c;
    --button-shadow: #5c5c5c6a;

    --hr-color-1: rgba(0, 0, 0, 0);
    --hr-color-2: rgba(64, 83, 251, 0.75);

    /* Graph View Colors */
    --graph-bg: rgb(222, 222, 222);
    --selected-node: #b3c9fd;

    /* CycloneDX json colors */
    --base-00: var(--main-color);
    --base-01: #383830;
    --base-02: #49483e;
    --base-03: #f96edd;
    --base-04: #a59f85;
    --base-05: #f8f8f2;
    --base-06: #f5f4f1;
    --base-07: #f9f8f5;
    --base-08: #f92672;
    --base-09: #fd971f;
    --base-0A: #f4bf75;
    --base-0B: var(--text-color);
    --base-0C: #a1efe4;
    --base-0D: #4f86fc;
    --base-0E: #ae81ff;
    --base-0F: #cc6633;
}