.tools-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Span the width of the whole page */
  height: 100%;

}

.view-tools,
.scan-tools {
  /* flex: 1; */
  /* Each section takes up equal space */
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tools-header {
  /* margin: 1rem 0; */
  /* Adjust top margin as needed */
  text-align: center;
  color: var(--text-color);
  font-size: 30px;
}

.view-tool-objects,
.scan-tool-objects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

/* .vertical-line {
  position: absolute;
  height: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 1px;
  background-color: var(--text-color);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
} */

.button-tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  gap: 0.5rem;
  width: 15rem;
  font-family: var(--gidole);

  aspect-ratio: 3 / 2;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none;
}

/* @media (max-width: 768px) {

    .button-tool {
        width: 10rem;
        height: 10rem;
        margin: 0.5rem;
    }
} */

.button-tool:hover {
  /* background-color: var(--text-hover); */
  background-color: var(--main-color);
  /* box-shadow: 0px 15px 20px var(--button-shadow); */
  box-shadow: 0px 12px 32px #0000005c;
  color: var(--text-hover);
  transform: translateY(-3px);
}

.button-tool:active {
  background-color: var(--button-active);
}

.tools-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tool-lable {
  max-width: 90%;
}