.asset-list-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    width: 95vw;
    padding: 1rem;
    box-shadow: 0px 4px 32px #0000005c;
}


/* Updated CSS */

.SearchBar {
    margin-top: 20px;
    width: 500px;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--main-color);
    border: 1px solid var(--text-color); /* Changed border to a solid color */
    border-radius: 30px;
    display: flex; /* Added */
    align-items: center; /* Added */
}

.searchIconWrapper {
    margin-right: -5px; /* Added margin for spacing between icon and text */
    color: var(--text-color);
}

.inputWrapper {
    flex: 1; /* Added */
}

.inputWrapper input {
    width: calc(100% - 40px); /* Adjusted width to accommodate icon and margin */
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-color);
}

.SearchBar:hover {
    backdrop-filter: brightness(85%);
}




/* Style for column headers */
.headerRow {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.headerCell {
    flex: 1;
    font-weight: bold;
    padding: 5px;
}

/* Style for asset rows */
.assetRow {
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    color: var(--button-color);
    border-radius: 0.25rem;
}

.assetRow:hover {
    /* filter: brightness(85%); */
    backdrop-filter: brightness(85%);
}

/* Style for asset cells */
.assetCell {
    flex: 1;
    padding: 5px;
    /* Add any additional styling as needed */
}

input[type='checkbox'] {
    accent-color: #5e93fd;
}