.asset-list-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    width: 95vw;
    padding: 1rem;
    box-shadow: 0px 4px 32px #0000005c;
}


.SearchBarContainer {
    margin-top: 30px;
    width: 1920px; /* Band-aid fix, but seems to interact fine with my 1440p screen, hopefully no problem? */
    display: flex;
    justify-content: center;
}

  .SearchBar {
    width: 500px;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--main-color);
    border-color: 1px solid var(--main-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
    border: 1px solid var(--text-color); /*There's room for experimentation here. This currently matches the thin bar near the top of the asset list.*/
    border-radius: 30px;
    outline: none;
    box-shadow: none;
  }

  .SearchBar:hover {
    backdrop-filter: brightness(85%);

  }


/* Style for column headers */
.headerRow {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.headerCell {
    flex: 1;
    font-weight: bold;
    padding: 5px;
}

/* Style for asset rows */
.assetRow {
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    color: var(--button-color);
    border-radius: 0.25rem;
}

.assetRow:hover {
    /* filter: brightness(85%); */
    backdrop-filter: brightness(85%);
}

/* Style for asset cells */
.assetCell {
    flex: 1;
    padding: 5px;
    /* Add any additional styling as needed */
}