* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);

}

html {
  background-color: var(--main-color);
  height: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  text-align: center;

}

@media (max-width: 1000px) {

  /* For smaller screens, adjust the font size */
  .page-container {
    flex-direction: column;
  }
}