.scan-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    max-width: 30rem;
    width: fit-content;
    padding: 2rem;
    margin-top: 3rem;
    /* margin-bottom: 5rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);

}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-scan-btn {
    color: var(--text-color);
}

.text-desc {
    color: var(--text-color);
    font-size: x-large;
}

.inputAll {
    display: flex;
    /* This makes the container a flex container */
    align-items: center;
    /* This aligns items vertically in the middle */
    gap: 2rem;
    /* This adds some space between the flex items */
}

.IPField {
    display: flex;
    justify-content: left;
    gap: 2rem;
    flex-direction: column;
    text-align: left;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.cmd-radio-label {
    display: flex;
    color: var(--text-color);
    margin-bottom: 1rem;
    /* Size of radio button and the rest for the label */
    /* Aligns the radio button and text vertically */
}

input[type="radio"] {
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    order: -1;
    color: var(--text-color);
    transform: scale(1.5);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.range-checkbox-label {
    display: flex;
    color: var(--text-color);
    margin-bottom: 10px;
    /* Size of radio button and the rest for the label */
    /* Aligns the radio button and text vertically */
}

input[type="checkbox"] {
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    order: -1;
    color: var(--text-color);
    transform: scale(1.5);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.range-checkbox-label {
    display: flex;
    color: var(--text-color);
    margin-bottom: 10px;
    /* Size of radio button and the rest for the label */
    /* Aligns the radio button and text vertically */
}

input[type="checkbox"] {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    order: -1;
    color: var(--text-color);
    transform: scale(1.5);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cmd-selection {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    flex-direction: column;
    text-align: left;
}

.infoDiv {
    position: 'relative';
    display: 'inline-block';
}


.info-content {
    display: none;
    /* Style your tooltip */
    position: absolute;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #421818;
    /* border-radius: 2rem; */
}

.info-icon-container:hover .info-content {
    display: block;
}

.infoBox {

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    /* backgroundColor: 'var(--text-color)'; */
    border: 1px solid #ccc;
    /* borderRadius: '4px'; */
    padding: 4rem;
    /* marginTop: '8px';
    zIndex: 1; */
}

.resultText {
    display: flex;
    justify-content: left;
}

.successText {
    margin-top: 0.3rem;
    color: var(--text-color);

}